@tailwind base;
@tailwind components;
@tailwind utilities;

.cs-shadow {
    box-shadow: 0px -25px 36px 0px rgba(242, 158, 1, 0.4);
}

.cs-loader{
    background: rgb(243,177,91);
background: linear-gradient(90deg, rgba(243,177,91,1) 23%, rgba(106,243,91,1) 49%, rgba(91,114,243,1) 91%);
}

.cs-text{
    font-size: 2rem/* 48px */;
    line-height: 1;
}

.cs-text-2 {
    font-size: 0.7rem/* 12px */;
    /* line-height: 1rem16px; */
}
div::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.max-h-minus-60 {
    max-height: calc(100vh - 60px);
  }

  :root {
    --neon-blue: #ffbb00;
    --neon-blue-light: #e6a100;
  }
  
  .text-neon-blue {
    color: var(--neon-blue);
  }
  
  .border-neon-blue {
    border-color: var(--neon-blue);
  }
  
  .bg-neon-blue {
    background-color: var(--neon-blue);
  }
  
  .bg-neon-blue-light {
    background-color: var(--neon-blue-light);
  }
  
  .neon-box {
    box-shadow: 0 0 5px var(--neon-blue), 0 0 10px var(--neon-blue), 0 0 20px var(--neon-blue), 0 0 40px var(--neon-blue);
  }
  